@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", "Noto Sans KR", sans-serif;
}

html {
  font-family: var(--font-sans);
  color: #0f172a;
  background-color: #f3f7f5;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}
